**/*ok*
**/tests/
**/__pycache__/
**/construct_check.py

**/.DS_Store

# scheme
**/editor/*
hw/*/scheme
lab/*/scheme

# sql
**/sqlite_shell.py

# projects
proj/hog/*
!proj/hog/hog.py

proj/cats/*
!proj/cats/cats.py

proj/ants/*
!proj/ants/ants.py

proj/scheme/*
!proj/scheme/scheme_eval_apply.py
!proj/scheme/scheme_forms.py
!proj/scheme/scheme_classes.py
!proj/scheme/questions.scm