**/*ok*
**/tests/
**/__pycache__/
**/construct_check.py

**/.DS_Store

# projects
proj/hog/*
!proj/hog/hog.py

proj/cats/*
!proj/cats/cats.py

proj/ants/*
!proj/ants/ants.py

# scheme
**/editor/*
**/scheme